<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Estilos -->
  <link rel="stylesheet" href="./assets/style.css">
  <!--Box Icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- VUE JS 2 -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js" defer></script>
  <!-- Scripts -->
  <script src="./assets/index.js" defer></script>
  <title>Rebecca Modas</title>
</head>
<body>
    <div id="wrapper">
        <!-- bavbar -->
        <nav class="nav" id="nav">
            <div class="container">
                <div class="column">
                    <a href="./index.html" class="logo">Rebecca</a>
                    <div class="search-area">
                        <input type="search" placeholder="Search...">
                        <button type="submit"><i class="bx bx-search"></i></button>
                    </div>
                    <div class="icons">
                        <span class="icon" @click="showcarrinho = !showcarrinho"><i class='bx bx-cart' ></i><div class="counter">{{carrinho.length}}</div></span>
                        <span class="icon"><i class='bx bx-heart' ></i><div class="counter">{{counter}}</div></span>
                    </div>
                </div>
                <div class="column">
                    <div class="nav-btn">
                        <span class="bars">|||</span><span>categorias</span>
                    </div>
                    <ul class="menu">
                        <li><a href="./index.html">home</a></li>
                        <li><a href="./index.html">home</a></li>
                        <li><a href="./index.html">home</a></li>
                        <li><a href="./index.html">home</a></li>
                        <li><a href="./index.html">home</a></li>
                        <li><a href="./index.html">home</a></li>
                    </ul>
                    <div class="mobile-btn bars" @click="showmenumobile = !showmenumobile">
                        |||
                    </div>
                </div>
            </div>
        </nav>
        <!-- carrinho -->
        <div class="carrinho-area" v-if="showcarrinho" id="carrinho-area" :class="{showcarrinho: showcarrinho}">
            <div class="close-carrinho" @click="showcarrinho = false"><i class="bx bx-x"></i></div>
            <div class="content" v-if="carrinho.length > 0">
                <ul>
                    <li v-for="(item, index) in carrinho" class="item">
                        <button @click="removerItem(index)"><i class="bx bx-x" class="compra"></i></button>
                        <div class="text">
                            <p class="paragrafo-item">{{item.nome}}</p>
                            <p>{{item.preco | numeroPreco}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="p" v-else>Nenhum produto no carrinho.</div>
            <br>
            <div class="btn-area">
            <button v-if="carrinho.length > 0">finalizar compra</button>
            <span class="tot">{{carrinhoTotal | numeroPreco}}</span>
            </div>
        </div>
        <div class="alert alerta" id="alert" :class="{ativo: alertaAtivo}">
            <p>{{mensagemAlerta}}</p>
        </div>
        <!-- menu mobile -->
        <div class="menumobile" :class="{showmenumobile: showmenumobile}">

        </div>
        <!-- header -->
        <header class="header" id="header">
            <div class="container">
                <div class="content">
                    <h1>Promoção Primavera-Verão</h1>
                    <p>Lorem ipsum dolor amet.</p>
                </div>
            </div>
        </header>
        <!-- produtos -->
        <section id="shop-area" class="shop-area">
            <div class="container">
                <h2>Shop Area</h2>
                <p>Produtos organizados por categoria</p>
            </div>
            <!-- modal -->
            <div class="layer" v-if="produtoModal" @click="produtoModal = !produtoModal"></div>
            <section class="modal" v-if="produtoModal">
                <div class="modal-container">
                    <div class="close-modal" @click="produtoModal = !produtoModal">
                        <i class="bx bx-x"></i>
                    </div>
                    <div class="modal-image">
                        <img :src="produtoModal.img" :alt="produtoModal.nome">
                    </div>
                    <div class="modal-description">
                        <h3>{{produtoModal.nome}}</h3>
                        <p>{{produtoModal.descricao}}</p>
                        <div class="data">
                            <p class="price">{{produtoModal.preco | numeroPreco}}</p>
                            <button v-if="produtoModal.estoque > 0" class="btn-shop" @click="adicionarItem"><i class="bx bx-cart" ></i> adicionar</button>
                            <button v-else class="btn-shop esgotado" disabled>produto esgotado</button>
                        </div>
                    </div>
                 </div>
            </section>
            <div class="produtos">
                <div class="container">
                <div v-for="produto in produtos" class="produto" :key="produto.id">
                    <div class="image">
                        <img :src="produto.img" :alt="produto.nome">
                        <span class="promo">{{produto.promo }}</span>
                        <div class="heart"><i class="bx bx-heart"></i></div>
                        <div class="compra" @click="fetchProduto(produto.id)">
                            <i class="bx bxs-cart"></i>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                    <h3 class="nome" :aria-label="produto.nome">{{produto.nome}}</h3>
                    <div class="price">
                        <span class="preco">{{produto.preco | numeroPreco}}</span>
                        <span class="real">R$ {{produto.precoantigo}},00</span>
                    </div>
                </div>
        </section>
    </div>
</body>
</html>