/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');


/* configurações globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #f6e8f6;
    --color-1-dark: #f0d7f0;
    --color-2: #d275d2;
    --color-3: #a23c99;
    --color-4: #ca9581;
    --dark: #282127;
    --ligth-dark: #504b50;
    --ligth-dark-2: #6b6b6b;
    --light: #fafafa;
    --transition: 0.2s all ease-in-out;
    --scale: scale(105%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light);
}

#wrapper {
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--color-2);
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    color: var(--ligth-dark);
}

.container {
    max-width: 1100px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bars {
    transform: rotate(90deg);
    font-size: 30px;
    display: inline-flex;
    cursor: pointer;
}

/* navbar */

#nav {
    height: 145px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3000;
    top: 0;
    background-color: var(--light);
    overflow: hidden;
    transition: var(--transition);
}

#nav.navShadow,
.navShadow {
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,.1);
}

#nav .container {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0px!important;
}

#nav .container .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

#nav .container .column:nth-of-type(2) {
    border-bottom: 1px solid #eaeaea;
}

#nav .container .column .icons {
    display: flex;
    gap: 25px;
}

#nav .container .logo {
    color: var(--ligth-dark);
    font-size: 30px;
    font-weight: 700;
    transition: var(--transition);
    position: relative;
}

#nav .container .logo::after {
    content: '';
    background-color: var(--color-3);
    font-weight: 900;
    display: block;
    height: 7px;
    width: 7px;
    position: absolute;
    right: -8px;
    bottom: 0;
    transform: translateY(-70%);
    border-radius: 50%;
    font-size: 40px;
    border: 3px solid white;
}

#nav .container .logo:hover {
    transform: var(--scale);
}

#nav .container .menu {
    display: none;
    align-items: center;
    gap: 45px;
}

#nav .container .menu li a {
    color: var(--ligth-dark);
    font-size: 20px;
    transition: var(--transition);
    border-bottom: 3px solid var(--light);
}

#nav .container .menu li a:hover {
    color: var(--color-3);
    border-bottom: 3px solid var(--color-3);
}

#nav .container span {
    position: relative;
}

#nav .container span .bx {
    font-size: 30px;
    color: var(--ligth-dark-2);
    cursor: pointer;
    transition: var(--transition);
}

#nav .container span .bx:hover {
    transform: var(--scale);
}

#nav .container span .counter {
    position: absolute;
    right: -10px;
    top: -8px;
    background-color: var(--color-3);
    color: var(--light);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 700;
    font-size: 12px;
    height: 17px;
    width: 17px;
}

.menu-mobile {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--color-1);
    transform: translateX(-106%);
}

.menu-mobile.active-menu,
.active-menu {
    transform: translateX(0%);
}

#nav .container .column .nav-btn {
    background-color: var(--color-3);
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    gap: 40px;
    padding: 5px 20px;
    width: 240px;
    transition: var(--transition);
}

#nav .container .column .nav-btn:hover {
    background-color: var(--dark);
}

#nav .container .column .search-area {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding: 0 20px 10px 20px;
    width: 450px;
}

#nav .container .column .search-area button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 5%;
}

#nav .container .column .search-area button .bx {
    font-size: 20px;
    color: var(--ligth-dark);
}

#nav .container .column .search-area input {
    border: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    width: 93%;
    color: var(--ligth-dark);
}

#nav .container .column .search-area input::placeholder {
    color: #aaa;
    font-size: 20px;
}

/* sop area */

#shop-area {
    margin-top: 250px;
}

#shop-area > .container {
    flex-direction: column;
    margin-bottom: 40px;
}

#shop-area .produtos .container {
    flex-wrap: wrap;
    justify-content: flex-start;
}

#shop-area .produtos .container .produto {
    width: 25%;
    cursor: pointer;
    padding: 15px;
}

#shop-area .produtos .container .produto:hover .image::after {
    opacity: 0.4;
    z-index: 1800;
}

#shop-area .produtos .container .produto .image .compra {
    position: absolute;
    z-index: 2200;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: var(--light);
    background-color: var(--color-3);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
}

#shop-area .produtos .container .produto:hover .compra {
    opacity: 1;
}

#shop-area .produtos .container .produto .image {
    position: relative;
    background-color: #eee;
    padding: 15px;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    transition: var(--transition)
}

#shop-area .produtos .container .produto .image .promo,
#shop-area .produtos .container .produto .image .heart {
    position: absolute;
}

#shop-area .produtos .container .produto .image .promo {
    background-color: var(--color-3);
    color: var(--light);
    z-index: 2200;
    padding: 5px;
    border-radius: 3px;
    left: 0;
    margin: -5px 10px;
}

#shop-area .produtos .container .produto .image .promo::after {
    content: '%'
}

#shop-area .produtos .container .produto .image .heart {
    color: white;
    bottom: 0;
    right: 0;
    z-index: 2200;
    margin: 5px 10px;
    font-size: 22px;
}

#shop-area .produtos .container .produto .image img {
    width: auto!important;
    text-align: center;
    transition: var(--transition);
}

#shop-area .produtos .container .produto .image::after {
    background-color: var(--dark);
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    transition: var(--transition)
}

#shop-area .produtos .container .produto :hover img {
    transform: scale(110%);
}

#shop-area .produtos .container .produto .reviews {
    color: #f1b728;
}

#shop-area .produtos .container .produto .nome {
    color: var(--ligth-dark);
}

#shop-area .produtos .container .produto .price .preco {
    color: var(--color-4);
    font-size: 20px;
    font-weight: 600;
    margin-top: 3px;
}

#shop-area .produtos .container .produto .price .real {
    text-decoration: line-through;
    color: #c0c0c0;
    margin-left: 10px;
}

#shop-area .produtos .container .produto .compra {
    display: flex;
    justify-content: flex-end;
    color: var(--color-3);
    font-size: 26px;
    background-color: transparent;
    transform: translateY(-130%);
    z-index: 2000;
}

@media (min-width: 990px) {
    #nav .container .mobile-btn {
        display: none;
    }
    #nav .container .menu {
        display: flex;
    }
}

@media (max-width: 1200px) {
    #shop-area .produtos .container {
        flex-wrap: wrap;
    }
    #shop-area .produtos .container .produto {
        width: 50%;
    }
}

@media (max-width: 990px) {
    #nav  {
        height: 65px;
    }
    #nav .container {
        flex-wrap: nowrap;
        flex-direction: row;
        border-bottom: 1px solid #eaeaea;
    }
    #nav .container .column {
        border: none;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    #nav .container .column:nth-of-type(2) {
        display: flex;
        border: none;
        justify-content: flex-end;
    }
    #nav .container .column .search-area,
    #nav .container .column .nav-btn,
    #nav .container .column .icons {
    display: none;
    }
}

@media (max-width: 590px) {
    #shop-area .produtos .container .produto {
        width: 100%;
    }
}